[Desktop Entry]
GenericName=2D/3D MRI Image Viewer
GenericName[de]=2D/3D Betrachter für MRT-Daten
GenericName[ru]=Просмотр 2D/3D МРТ-данных
Name=MRIcroGL
Exec=mricrogl %F
TryExec=mricrogl
Type=Application
Terminal=false
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;GTK;Viewer;
Icon=/usr/share/icons/hicolor/scalable/apps/mricrogl.svg
